<!-- estas etiquetas se encuentra realizada dentro de la carpeta parciales, la cual la llamamos de {{"> nombre de tu hbs"}}, esta forma de llamado nos ayuda reutilizar codigo -->
{{> header }} 

   {{> navbar }} 

    <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}!</h1> <!-- la etiqueta h es para los titulos, y es acompañado de un numero para dar una ponderacion a ese titulo y en la pagina se veria un tamaño de letra dependiendo el numero especificado siendo 1 la escala mayor  -->
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> <!-- etiqueta p,define parrafos -->
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

{{> footer }}
   